<div class="container">
    <h1>¡Bienvenid@ a IronNBA!</h1>
    <a href="/jugadores" class="btn btn-dark btn-sm">Ir a jugadores</a>
    <a href="/equipos" class="btn btn-dark btn-sm">Ir a equipos</a>
</div>