<div class="col-md-3">

    <article class="card">
        <img class="card-img-top" src="{{this.photo}}">
        <div class="card-body">
            <h5 class="card-title">{{this.name}} {{this.lastName}}</h5>
            <hr>
            <p class="card-text">Equipo {{this.team}}</p>
        </div>
    </article>

</div>