<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ironhack platform</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <h1>Bienvenid@ a Ironhack!</h1>
    <a href="/detalles-convocatoria">Ver los detalles de tu convocatoria</a>
</body>

</html>